{% extends "AdminBundle:Base:layout.html.twig" %}

{% block section %}newsletters{% endblock %}

{% block content %}
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title">
                    {{ entity.title }}
                </h3>
                <ul class="breadcrumb">
                    <li><a href="{{ path('core_admin_default_index') }}"> <i class="ion-home"></i>  {{ "home" | trans }}</a></li>
                    <li><a href="{{ path('core_core_actor_index') }}">{{ "user.plural" | trans }}</a></li>
                    <li><a href="{{ path('core_core_actor_new') }}">{{ "new.singular" | trans }}</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->

        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid profile">
            <div class="span12">
                <div class="tabbable tabbable-custom boxless custom-border">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#info_tab" data-toggle="tab">{{ "information" | trans }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="info_tab">
                            <div class="portlet box custom">
                                <div class="portlet-body profile">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>{{ "title" | trans }}</td>
                                            <td>{{ entity.title }}</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>{{ "body" | trans }}</td>
                                            <td>{{ entity.body | raw }}</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>{{ "active" | trans }}</td>
                                            <td>
                                                {% if entity.active %}
                                                    <span class="label label-success">{{ "yes" | trans }}</span>
                                                {% else %}
                                                    <span class="label label-important">{{ "no" | trans }}</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                       
                                        </tbody>
                                    </table>
                                </div>

                                <div class="form-actions">
                                    <a href="{{ path('core_core_newsletter_edit', { id: entity.id }) }}" class="btn blue"><i class="icon-edit"></i> {{ "edit.singular" | trans }}</a>
                                    <button type="submit" class="btn red pull-right" id="delete-btn">{{ "delete" | trans }}</button>
                                </div>
                            </div>

                            <form id="delete-entity" action="{{ path('core_core_newsletter_delete', { 'id': entity.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                {{ form_widget(delete_form) }}
                            </form>
                        </div>
                    </div>
                </div>
                <!--END TABS-->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
            $('#delete-btn').on('click', function(e) {
                e.preventDefault();

                if (confirm('{{ "are.you.sure" | trans }}')) {
                    $('#delete-entity').submit();
                }
            });

        });
    </script>
{% endblock %}